.virtual_documents
jupyterhub*
.vscode
.history
workspace
notebooks/**/*.csv
notebooks/**/*.parquet
*/**/data/
.ekorpkit
.root
.workspace
_build
ekorpkit-book/docs/**/*.png
ekorpkit-book/docs/tutorials/models/art/pretrained
service/backend/pretrained
data
refs
tmp
disco-imagen
logs
outputs
runs

.env*
!.env.project
!.env.vault